numpy==1.26.4
pandas
scipy
scikit-learn
matplotlib
networkx
joblib
tqdm
pyyaml
requests
sqlalchemy
reportlab

lightning
pytorch-lightning
torchmetrics

torch-geometric==2.8.0.post1

optuna
ogb==1.3.3

synergy==1.0.0

aiohttp
fsspec
